.output .black {
    color: black;
}

.output .blue {
    color: blue;
}

.output .cyan {
    color: cyan
}

.output .green {
    color: green;
}

.output .magenta {
    color: magenta;
}

.output .red {
    color: red;
}

.output .white {
    color: white;
}

.output .yellow {
    color: yellow;
}